.foget-password {
    background-color: whitesmoke;
    padding: 5px;
    width: 35%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: fixed;
    transition: all 1s;
    scale: 0;
    transform: translateY(-100vh);
}
.App.Light .foget-password{
    background-color: #777;
}
.App.Light .reset-password{
    background-color: whitesmoke;
}
.App.Light .reset-password:hover{
    background-color: transparent;
    border: solid 1px whitesmoke;
    color: whitesmoke;
}
.show{
    scale: 1;
    transform: translateY(0);
}

.foget-password button {
    font-size: 14px;
    border-radius: 3px;
}

.foget-password button:hover {
    background-color: transparent;
    color: #333;
    border: solid 1px #777;
    transition: all 0.13s;
    cursor: pointer;

}

.foget-password .fa-xmark {
    font-size: 25px;
    color: #333;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.App.Light .fa-xmark{
    color: whitesmoke;
}

.foget-password .fa-xmark:hover {
    color: tomato;
    transform: rotate(90deg);
    transition: all 1s;
}
.foget-password input{
    width: 80%;
}

form {
    width: 30%;
}

form input {
    padding: 10px 5px;
}

form p {
    font-size: 15px;
    line-height: 25px;
}

.foget-password .massege {
    font-size: 13px;
    color: #333 !important;
}

.click-forget:hover {
    cursor: pointer;
    color: #777 !important;
    text-decoration: underline;
}